<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 引入jdbc配置文件 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:*.properties</value>
                <!--要是有多个配置文件，只需在这里继续添加即可 -->
            </list>
        </property>
    </bean>



    <!--短信发送bean-->
    <bean id="messageClient" class="com.wanjia.utils.MessageClient" scope="singleton">
        <constructor-arg type="java.lang.String" name="dayu_url" value="${dayu_url}"></constructor-arg>
        <constructor-arg type="java.lang.String" name="dayu_appkey" value="${dayu_appkey}"></constructor-arg>
        <constructor-arg type="java.lang.String" name="dayu_secret" value="${dayu_secret}"></constructor-arg>
        <constructor-arg type="java.lang.String" name="smsSignName" value="${smsSignName}"></constructor-arg>
        <constructor-arg type="java.lang.String" name="smsTemplate" value="${smsTemplate}"></constructor-arg>
        <constructor-arg type="java.lang.String" name="product" value="${product}"></constructor-arg>
    </bean>

    <!--redis连接bean-->
    <bean id="redisClient" class="com.wanjia.utils.RedisClient" scope="singleton">
        <constructor-arg type="java.lang.String" name="redisIp" value="${redishost}"></constructor-arg>
        <constructor-arg type="int" name="redisPort" value="${redisport}"></constructor-arg>
    </bean>
    <bean id="encoder" class="sun.misc.BASE64Encoder"/>
    <bean id="decoder" class="sun.misc.BASE64Decoder"/>

    <!--elasticsearch连接bean-->
    <bean id="elasticSearchClient" class="com.wanjia.utils.ElasticSearchClient" scope="singleton">
        <constructor-arg type="java.lang.String" name="clustername" value="${es.cluster.name}"></constructor-arg>
        <constructor-arg type="java.lang.String" name="hosts" value="${es.hosts}"></constructor-arg>
        <constructor-arg type="int" name="port" value="${es.port}"></constructor-arg>
    </bean>

</beans>